APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[SERVER]CDN_OPEN_DOMAIN = 'cdn-open.cigoadmin.com'CDN_DOMAIN = 'cdn.cigoadmin.com'API_ADMIN_DOMAIN = 'api-admin.cigoadmin.com'API_CLIENT_DOMAIN = 'api-client.cigoadmin.com'[DATABASE]TYPE = mysqlHOSTNAME = localhostDATABASE = cigoadminPREFIX = cg_USERNAME = rootPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cn[CRON]