APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[SERVER]CDN_OPEN_DOMAIN = 'cdn-open.cigoadmin.com'      #开放CDNCDN_IMG_DOMAIN = 'cdn-img.cigoadmin.com'        #加密图片CDNCDN_VIDEO_DOMAIN = 'cdn-video.cigoadmin.com'    #加密视频CDNCDN_DOMAIN = 'cdn.cigoadmin.com'                #自动回环全站加速CDN[DATABASE]TYPE = mysqlHOSTNAME = localhostDATABASE = medical_docPREFIX = cg_USERNAME = rootPASSWORD = 888HOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[LANG]default_lang = zh-cn[CRON][CIGO_ADMIN]CHECK_SIGN = false